.intro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.intro .overlap-group-wrapper {
  background-color: #ffffff;
  height: 1080px;
  width: 1920px;
}

.intro .overlap-group {
  height: 1080px;
  position: relative;
  overflow: hidden;
}

.bballimg {
  height: 500px;
  width: 500px;
  left: 850px;
  object-fit: cover;
  position: absolute;
  top: 125px;
  transform: rotate(41.61deg);
  border-radius: 25px;
}

.phone1 {
  height: 700px;
  width: 700px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 400px;
  transform: rotate(-45deg);
}

.phone2 {
  max-height: 400;
  width: 250px;
  left: 1250px;
  object-fit: cover;
  position: absolute;
  top: -30px;
  transform: rotate(-45deg);
  border-radius: 20px;
}


.intro .find-a-basketball {
  color: transparent;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 96px;
  font-weight: 600;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 100px;
  width: 729px;
}

.intro .text-wrapper {
  color:#eba059 ;
}

.intro .span {
  color: #41245c;
  position: relative;
  z-index: 1;
}


.intro .shot-caller-app {
  color: #eba059;
  font-family: "Lato-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  left: 1500px;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 1001px;
  width: 335px;
}

.footer {
  background-color: #8B3C76;
  color: #EBA059;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

header a:before {
  margin-left: auto;
}

header a:after, header a:before {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  transition: 0.5s;
}

header a:hover::after, header a:hover::before {
  width: 100%;
}

header {
  position: relative;
  z-index: 1;
}
 body {
  overflow: hidden;
 }

 .menu__link {
  color: #F57417;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #F57417;
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transition: width .4s, left .4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}